<DOCKTYPE html>
<html>
	
<head>
    <meta charset="UTF-8">
    <title>Lista de Carros</title>
	<link th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body class="container">
	<form method="POST" th:object="${carro}" th:action="@{/carros}">
        <div class="mb-3">
            <label for="placa" class="form-label">Placa:</label>
            <input type="text" id="placa" th:field="*{placa}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Adicionar Carro</button>
	</form>
	<table class="table table-striped">
		<thead class="table table-striped">
			<tr>
				<th>ID</th>
				<th>PLACA</th>	
			</tr>
		</thead>
		<tbody class="table table-striped">
	        <tr th:each="carro : ${carrosDB}">
	            <td th:text="${carro.id}"></td>
	            <td th:text="${carro.placa}"></td>
	        </tr>
		</tbody>
	</table>
</body>

</html>