<DOCKTYPE html>
<html>
	
<head>
    <meta charset="UTF-8">
    <title>Lista de Carros</title>
	<link th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body class="container">
	<div class "card-title">
        <h1>LISTA DE INFRAÇÕES CADASTRADAS - LUIS FERNANDO K. BEZERRA</h1>
	</div>
	<table class="table table-striped">
		<thead class="table table-striped">
			<tr>
				<th>DESCRICAO</th>
				<th>PONTOS</th>	
				<th>VALOR</th>
			</tr>
		</thead>
		<tbody class="table table-striped">
			<tr th:each="infracao : ${infracoesDB}">
                <td th:text="${infracao.descricao}"></td>
                <td th:text="${infracao.pontos}"></td>
                <td th:text="${infracao.valor}"></td>
			</tr>
			<tr th:each="infraction : ${infracoes}">
                <td th:text="${infraction.descricao}"></td>
                <td th:text="${infraction.pontos}"></td>
                <td th:text="${infraction.valor}"></td>
			</tr>
			<tr>
				<td>Avancar o sinal vermelho do semaforo</td>
				<td>7</td>
				<td>293.47</td>
			</tr>
			<tr>
				<td>Ultrapassar pela contramão nas pontes</td>
				<td>7</td>
				<td>1467.35</td>
			</tr>
			<tr>
				<td>Usar buzina prolongada e sucessivamente</td>
				<td>3</td>
				<td>88.33</td>
			</tr>
		</tbody>
		
	</table>
</body>
</html>