<DOCKTYPE html>
<html>
	
<head>
    <meta charset="UTF-8">
    <title>Lista de Carros</title>
	<link th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body class="container">
	
	<div class="card-header">
        <form th:action="@{/infracoes}" method="post">
            <div class="mb-3">
                <label for="pontos" class="form-label">Pontos</label>
                <input type="number" class="form-control" id="pontos" name="pontos" placeholder="Digite a quantidade de pontos da infração">
            </div>
            <div class="mb-3">
                <label for="valor" class="form-label">Valor</label>
                <input type="number" step="0.01" class="form-control" id="valor" name="valor" placeholder="Digite o valor da infração">
            </div>
			<div class="mb-3">
				<label for="descricao" class="form-label">Descrição</label>
				<input type="text" class="form-control" id="descricao" name="descricao" placeholder="Digite a descrição da infração">
			</div>
				
            <button type="submit" class="btn btn-primary">Cadastrar Infração</button>
		</form>
	</div>
		
	<div class "card-title">
        <h1>LISTA DE INFRAÇÕES CADASTRADAS - LUIS FERNANDO K. BEZERRA</h1>
	</div>
	<table class="table table-striped">
		<thead class="table table-striped">
			<tr>
				<th>DESCRICAO</th>
				<th>PONTOS</th>	
				<th>VALOR</th>
				<th>AÇÕES</th>
			</tr>
		</thead>
		<tbody class="table table-striped">
			<tr th:each="infractionDB : ${infracoes}">
                <td th:text="${infractionDB.descricao}"></td>
                <td th:text="${infractionDB.pontos}"></td>
                <td th:text="${infractionDB.valor}"></td>
                <td> 
                    <a th:href="@{/infracoes/{id}(id=${infractionDB.id})}" class="btn btn-warning">Editar</a>
                    <a th:href="@{/infracoes/deletar/{id}(id=${infractionDB.id})}" class="btn btn-danger">Excluir</a>
                </td>
			</tr>
			<tr th:each="infraction : ${infracoes}">
                <td th:text="${infraction.descricao}"></td>
                <td th:text="${infraction.pontos}"></td>
                <td th:text="${infraction.valor}"></td>
				<td> 
                    <a th:href="@{/infracoes/{id}(id=${infraction.id})}" class="btn btn-warning">Editar</a>
					<a th:href="@{/infracoes/deletar/{id}(id=${infraction.id})}" class="btn btn-danger">Excluir</a>
				</td>
			</tr>
			<tr>
				<td>Avancar o sinal vermelho do semaforo</td>
				<td>7</td>
				<td>293.47</td>
			</tr>
			<tr>
				<td>Ultrapassar pela contramão nas pontes</td>
				<td>7</td>
				<td>1467.35</td>
			</tr>
			<tr>
				<td>Usar buzina prolongada e sucessivamente</td>
				<td>3</td>
				<td>88.33</td>
			</tr>
		</tbody>
		
	</table>
</body>
</html>